.navbar{

    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    background-color: #424B54;

    margin-bottom: 2rem;

    transition: transform 0.3s ease-in-out;
}
.navbar-link{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.25rem;

    margin: 0 1rem;
}
.navbar-link:hover{
    color: hsla(0, 2%, 50%, 0.674);
    transform: scale(1.15);
}